<!DOCTYPE html> 
<html>
<head>
<link href="styles/customstyle.css" rel="stylesheet" type="text/css" >
<link href="styles/style.css" type="text/css" rel="stylesheet">

<script src="/jscript/common.js"></script>
<meta charset="utf-8">
<title>Add Product</title>
<style>
.clickMe {
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #000;
    padding: 0.2em 0.4em;
}​
</style>
</head>


<body>
<div>
<table width="100%" border="0">
<form action="/add_product", method="post", enctype="multipart/form-data">

  <tbody>
    <tr>
      <td width="62%">
      	<div class="formfont" style="font-size: 28px;">
      		<img src="images/mylogo.png" width="217" height="88"/>
      	Hi! Ready to add new product to eWay?</div>
        <br>
      <div class="txtboxes" style="font-weight: bold; margin-left:2em">
      Enter the product details.</div>
      </td>
      <td width="38%">&nbsp;</td>
    </tr>
    
    <tr>
      <td>
        <div class="formfont" style="margin-left:4em">
          <p>Product Name<br>
            <input type="text" name="txtpname" id="txtpname" class="txtboxes"><br><br>
            <p>Product Desc<br>
            <input type="text" name="txtdesc" id="txtpname" class="txtboxes"><br><br>
            Select Category<br>
            
            <select name="txtcat" title="Select a category" size="1" class="txtboxes">
              
              <option value="324">Mobiles</option>
              <option value="325">Laptops</option>
              <option value="326">Accessories</option>
              <option value="327">Camera</option>
              <option value="328">Tablets</option>
              <option value="329">TV</option>
              <option value="330">Video Games</option>
              </select>
            <br><br>
            Quantity<br>
            <input type="number" name="txtqty" id="txtqty" min="1" max="10" class="txtboxes"><br><br>
            
            
            Price<br>
            $ <input type="number" name="txtamt" id="txtamt" min="0.99" class="txtboxes"><br>
            
          </div>
        <br><h4 style="margin-left:2em"><input type="checkbox" name="accept" value="1" id="acceptq1">
          I agree to the following:<font size="3" color="red">&nbsp&nbsp<%= error %></font></p>
          <ul style="padding-left:40px;margin:0px"><li>I accept the user-agreement.</li>
  <li>I am at least 18 years old.</li>
  </ul></h4>
        <br>
        </p>
        
        
        
        </td>
      
      
        <td>
        Condition<br>
            <input type="radio" name="group1" value="new" class="txtboxes" checked> New
  <input type="radio" name="group1" value="used"> Used<br><br>
            
            Type<br>
            <input type="radio" name="group2" value="DirectBuy" class="txtboxes" checked> Fixed Price
  <input type="radio" name="group2" value="Bid"> Bid<br><br>
  </div>
        </td>
        <td><div class="txtboxes">
      Upload an image of product<br><br>
        <input type="file" name="displayImage"><br>
        <br><br>
        </td>
    </tr>
    
    <tr>
      <td colspan="2">
      <div align="center">
      <br>
      <input type="submit" name="Add Product"></td>
      <td></td>
      <br>
      <br>
     
      </div>
    </tr> 
    </tbody>
    </form>
    </table>
    </div>
    <div style="position:absolute;right:20%;top:180px;">
     <button  class="ButtonBuss" onclick="window.location='/'"><font size=5>Cancel</font></button>
	</div>
</body>
</html>