<!DOCTYPE html>
<!-- This file is the display cart page for the logged in user-->
<html>
  <head>
    <title>eway</title>
    <link rel="stylesheet" href="/styelsheets/bootstrap.min.css">
  </head>
  <body>
  
  </body>
</html>