<!DOCTYPE html>
<!-- This file is the home page in edit mode for logged in user-->
<html>
  <head>
    <title>eway</title>
    <link rel="stylesheet" href="/styelsheets/bootstrap.min.css">
  </head>
  <body>
  
  </body>
</html>