<!DOCTYPE html>
<!-- This file is the home page -->
<html>
  <head>
    <title>eway</title>
    <link rel="stylesheet" href="/styelsheets/bootstrap.min.css">
  </head>
  <body>
  <h1>Welcome to eway</h1>
  </body>
</html>