<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>My eWay</title>
</head>

<body>
<div style="margin:3em;">
<img src="../images/logo.png" width="165" height="77" alt=""/>
</div>
<div style="margin:5em;">
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><div style="font-size:30px; ">Sign In</div><br><br></td>
      <div>
      	<td rowspan="2"><div style="font-size:30px; text-align:center"">New to eWay?</div>
      	<br><br>   
         <div style="text-align:center"">
      	Get started naw. It's fast and easy!
     	<br><br><br>
        	<formid="frmregister" name="frmregister" method="post" action="register.ejs">
      			<input type="submit" name="register" id="register" value="Register">
             </form>
        </div>
      </td>
      </div>
    </tr>
    <tr>
    <div style="margin:15px">
      <td width="50%">
      	<form id="frmlogin" name="frmlogin" method="post" action="login.ejs">
           <label for="textfield">Email or User ID:</label>
           <br> <input type="text" name="textfield" id="textfield">
            <br><br>
            
            <label for="textfield2">Password:</label>
           	<br> <input type="text" name="textfield2" id="textfield2">
          
              <br>
              <a href="forgotpassword.ejs">Forgot your password?</a><br>
              <br><br>
              <input name="signin" type="submit" id="signin" value="Sign In">
         </form> 
      </td>  
      </div>    
    </tr>
  </tbody>
</table>
</div>
</body>
</html>
