<html>
<head>
<link href="styles/customstyle.css" rel="stylesheet" type="text/css" >
<meta charset="utf-8">
<title>Sign Up</title>
</head>

<body>
<table width="100%" border="0">
  <tbody>
  <form id="form1" name="form1" method="post" >
    <tr>
      <td width="62%">
      	<div class="formfont" style="font-size: 30px;">
      		<img src="images/mylogo.png" width="217" height="88"/>
      	Get started with eWay</div>
        <br>
      <div class="txtboxes" style="font-weight: bold; margin-left:2em">
      Create your personal account!
      </div>
      </td>
      <td width="45%">
      <div class="formfont">
      <br><br>Already have an account?</div>
      <br>
      <button style="margin-left:1em" class="ButtonBuss" name="signin" type="submit" id="signin">Sign In</button>
      </td>
    </tr>
    <tr>
      <td rowspan="2">
      <div class="formfont">
        <br>First Name<br>
        <input type="text" name="txtfname" id="txtfname" class="txtboxes"><br>
        
        
        
        <br>Email<br>
        <input type="text" name="txtemail" id="txtemail" class="txtboxes"><br>
        <br>Create your password<br>
        <input type="password" name="txtpwd" id="txtpwd" class="txtboxes"><br>
        <br>Confirm password<br>
        <input type="password" name="txtpwd2" id="txtpwd2" class="txtboxes"><br>
        
        
        
        <br>Zipcode<br>
        <input type="number" name="txtzip" id="txtzip" class="txtboxes"><br>
        <br><br>
        
        
        </div>
      
      </td>
      
      <td>
      </td>
    </tr>
    <tr>
      
      <td>
      <div class="formfont">
      Last Name<br>
        <input type="text" name="txtlname" id="txtlname" class="txtboxes"><br><br>Upload your photo<br>
        <input type="file" name="img" id="img" class="txtboxes"><br>
        <br>Street Address<br>
        <input type="text" name="txtaddress" id="txtaddress" class="txtboxes"><br>
        <br>City<br>
        <input type="text" name="txtacity" id="txtcity" class="txtboxes"><br>
        <br>State<br>
        <input type="text" name="txtstate" id="txtstate" class="txtboxes"><br>
       </div> 
      </td>
    </tr>
    <tr>
    <td colspan="2">
    <div align="center">
    <button class="ButtonBuss" name="signup" type="submit" id="signup" >Submit</button>
    </div>
    </td>
    </tr>
    </form>
  </tbody>
</table>
</body>
</html>
