<!doctype html>
<html>
<head>
<link href="css1.css" rel="stylesheet" type="text/css" >
<meta charset="utf-8">
<title>Sign Up</title>
</head>

<body>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td width="62%">
      	<div class="formfont" style="font-size: 30px;">
      		<img src="images/mylogo.png" width="217" height="88"/>
      	Get started with eWay</div>
        <br>
      <div class="txtboxes" style="font-weight: bold; margin-left:2em">
      Create your personal account or <a href="businessacc.ejs">start a busiess account</a>.
      </div>
      </td>
      <td width="38%">&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="2"><form id="form1" name="form1" method="post" >
      <div class="formfont">
        First Name<br>
        <input type="text" name="txtfname" id="txtfname" class="txtboxes"><br>
        Last Name<br>
        <input type="text" name="txtlname" id="txtlname" class="txtboxes"><br>
        Email<br>
        <input type="text" name="txtemail" id="txtemail" class="txtboxes"><br>
        Create your password<br>
        <input type="password" name="txtpwd" id="txtpwd" class="txtboxes"><br>
        Confirm password<br>
        <input type="password" name="txtpwd2" id="txtpwd2" class="txtboxes"><br>
        <br><br>
        <button class="ButtonBuss" name="signup" type="submit" id="signup" >Submit</button>
        </div>
      </form>
      </td>
      
      <td><div class="formfont">Already have an account?</div>
      <br><br>
      <button style="margin-left:1em" class="ButtonBuss" name="signin" type="submit" id="signin">Sign In</button>
      </td>
    </tr>
    <tr>
      
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</body>
</html>
