.formfont {font-size: 20px; font-family: "Arial Rounded MT Bold", Times, serif; margin: 1em}

.txtboxes {font:Arial Rounded MT Bold; font-size: 20px;}

#notification{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	height: 50px;
	background: #FF0000;
	opacity:0.9px;
	display:none;
}

#message{
	width:100%;
	text-align:center;
	padding-top:15px;
}